<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
    <style>
        #writeForm {
            margin: auto;
            width: 220px;
            position: relative;
            top: 150px;
        }
    </style>
</head>

<body>
    <h3><a th:href="@{/}">메인화면</a></h3>
    <form id="writeForm" action="/post" method="post">
        <fieldset>
            <legend>글 작성</legend>
            <Label>작성자: </Label><input type="text" placeholder="작성자" name="writer"><br>
            <Label>제목: </Label> <input type="text" placeholder="제목" name="title"><br>
            <!-- 유효값 에러메시지 출력 -->
            <span th:text="${valid_title}"></span> <br>
            <Label>내용: <textarea name="content" placeholder="내용"></textarea><br>
                <!-- 유효값 에러메시지 출력 -->
                <span th:text="${valid_content}"></span><br>
                <input type="submit" value="등록">
        </fieldset>
    </form>

</body>

</html>